*
{
    box-sizing: border-box;
}
h1
{
    text-align: center;
    background-color: rgb(16, 19, 233);
    color: rgb(214, 21, 70);
}
input,
button
{
    border:1px solid rgb(10, 185, 89);
    font-size:8vw;
    line-height:10vw;
    height:10vw;
    padding:0 5vw;
    outline: 0;
}
input
{
    border-radius:5vw 0 0 5vw;
}
button
{
    border-radius:0 5vw 5vw 0;
}
#chats
{
    font-size:5vw;
}
